{% extends "presentation/template.html" %}
{% load static %}




{% block title_h1 %}
    {{current_project.title}}
{% endblock %}




{% block title_h2 %}
    {{current_project.title}}
{% endblock %}




{% block text_content %}
    {{current_project.text}}
{% endblock %}




{% block video %}

    {% if current_project.video_URL %}
        <video id="projectvideo" poster="CF-Video-still.png" autoplay="autoplay" loop="loop" muted="" width="100%" height="150">
            <source src="{{current_project.video_URL}}" type="video/mp4" />
        </video>
    {% elif current_project.image_URL %}
         <img src="{{current_project.image_URL}}" alt="Project image" >

    {% endif %}

{% endblock %}




{% block progress_bar %}

    <div id="probar" class="pro-bar bar-90 color-emerald" data-pro-bar-percent="{{total_percent}}" data-pro-bar-delay="100" > </div>

{% endblock %}




{% block total_amount %}

    {{ total_current_amount }}

{% endblock %}




{% block days_left %}
    {{days}}
{% endblock %}




{% block hidden_fields %}

    <input type="hidden" id="next_donation_project_id"      name="next_donation_project_id"     value="{{next_project_id}}">
    <input type="hidden" id="previous_donation_project_id"  name="previous_donation_project_id" value="{{previous_project_id}}">

{% endblock %}

