{% extends "presentation/includes/head.html" %}

{% block stylesheet %}

    {% load static %}

    {% if True %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    {% endif %}

        <!--if ( count($project_css) > 0  &&  is_array($project_css) )-->
        <!--{-->
            <!--echo '<link href="'. $project_css[0]['url'] .'" rel="stylesheet" type="text/css" media="all" />' ;-->
        <!--}-->
        <!--else-->
        <!--{-->
            <!--echo '<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />';-->
        <!--}-->

{% endblock %}